# Hw3
## Alejandro Moscoso 332336908
## Shiraz benyatov 313592958

In [2]:
import pandas as pd
import numpy as np

In [3]:
a = pd.DataFrame(dict(O= [8,4,11,9,11,17], E = [10 for i in range(6)]))
a['(O-E)**2/E']= ((a['O']-a['E'])**2)/a['E']

In [4]:
a['(O-E)**2/E'].sum()

9.2

$Chi^2$ = 9.2
From the table we have get that for 5 degrees of freedon and α  = 0.01 $\chi^2$ = 15

we accept

From the table we have get that for 5 degrees of freedon and α  = 0.05 $\chi^2$ = 11.07

we accept

From the table we have get that for 5 degrees $\chi^2$ = 9.2 we got a $P_(value)$
= 0.0101 witch is bigger than > $\alpha_i$ and $\alpha_(ii)$

In [5]:
#log likelihood chi Sqare

In [6]:
a['log']= a['O']*np.log(a['O']/a['E'])

In [7]:
a

    E   O  (O-E)**2/E       log
0  10   8         0.4 -1.785148
1  10   4         3.6 -3.665163
2  10  11         0.1  1.048412
3  10   9         0.1 -0.948245
4  10  11         0.1  1.048412
5  10  17         4.9  9.020680

In [8]:
a['log'].sum()*2

9.43789648964262

we got $\gamma (x_n) = 9.43$ given that $\gamma (x_n) < 15.086  and  11.07$ we will accept for the two levels and  

$p_value = 0.092 $ witch is bigger than $\alpha_i $ and $\alpha_[ii]$

now we will do the same with 600

In [9]:
b = pd.DataFrame(dict(O= [80,40,110,90,110,170], E = [100 for i in range(6)]))
b['(O-E)**2/E']= ((b['O']-b['E'])**2)/b['E']
b['(O-E)**2/E'].sum()

92.0

In [10]:
b['log']= a['O']*np.log(b['O']/b['E'])
b['log'].sum()*2

9.43789648964262

$Chi^2$ = 92
From the table we have get that for 5 degrees of freedon and α  = 0.01 $\chi^2$ = 15

**no accept**

From the table we have get that for 5 degrees of freedon and α  = 0.05 $\chi^2$ = 11.07

**no accept**

From the table we have get that for 5 degrees $\chi^2$ = 9.2 we got a $P_(value)$
<<1  

## question 3
### (a)

let $x_1, x_2, x_3,  .. x_n ~~Poision(\gamma)$  
Let $\gamma_0~ > ~0 $ . find the size$\alpha$ for : $ H_0:\gamma -> \gamma_0$ versus $ H_1:\gamma \neq \gamma_0$

reject $H_0 : | \frac{\bar{\gamma} - \gamma_0}{se} | > z_{\alpha/2}$

$$ \hat{\gamma} = \frac{1}{n} \sum X_i =\bar{x_n} ~~~~  
se = \frac{\sigma^2}{n^{0.5}} =  \frac{\gamma}{n}$$ 

$$ if  \frac{\bar{\gamma} - \gamma_0}{se} \sim N(0,1),
~ P(| \frac{\bar{\gamma} - \gamma_0}{se} | > z_{\alpha /2}) = 1-\alpha $$

### (b) 
Python Code Let λ0 = 1, n = 20, α = 0.05. Simulate X1,..,Xn ∼ Poisson(λ0), perform the Wald test and repeat many times and count how often you reject the null-hypothesis. How close is the type-1 error rate to α?

In [17]:
import scipy.stats as sp

Lambda = 1.
N = 20
alpha = 0.05
Errors = 0
Interval = sp.norm.interval(1-alpha)
se = np.sqrt(Lambda/N)
for i in range(100000):
    X = np.random.poisson(Lambda, N)
    if (abs(X.mean()-Lambda)/se>Interval[1]):
        Errors = Errors+1

print(f' Total nnumber of errors: {Errors} in {i+1} repetition' )

 Total nnumber of errors: 5468 in 100000 repetition